.get-started-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3c6e71;
    border-radius: 16px;
    cursor: pointer;
  }
.get-started-button:hover{
    background-color: white;
}
#get-started-text{
    color: white;
}
#get-started-text:hover{
    color: #3c6e71;
}

.navLink{
    padding: 20px;
}